@charset "UTF-8";
/*
  Forma
    file: css/src/application.scss
*/
/*
  Forma
    file: css/src/lib/_base.scss
*/
@import url(http://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);
/* line 5, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  Forma
    file: css/src/lib/includes/_colors.scss
*/
/*
	Forma
		file: css/src/lib/includes/_colors.scss
*/
/*
  Forma
    file: css/src/lib/includes/_fonts.scss
*/
/* line 106, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/*
  Forma
    file: css/lib/modules/_post.scss
*/
/* line 6, src/lib/modules/_content.scss */
article.post, article.page {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
article.post:after, article.page:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, src/lib/modules/_content.scss */
article.post + article.post:before, article.page + article.post:before {
  content: "———";
  color: #f2f2ee;
  display: block;
  font-weight: 500;
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;
  letter-spacing: -2px;
}
/* line 23, src/lib/modules/_content.scss */
article.post .content blockquote, article.page .content blockquote {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
/* line 28, src/lib/modules/_content.scss */
article.post .content h3, article.post .content h4, article.post .content h5, article.post .content h6, article.page .content h3, article.page .content h4, article.page .content h5, article.page .content h6 {
  margin-top: 2.25em;
  margin-bottom: 0.375em;
}
/* line 33, src/lib/modules/_content.scss */
article.post .content img, article.page .content img {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}
/* line 39, src/lib/modules/_content.scss */
article.post header, article.page header {
  margin-bottom: 1.5em;
}
/* line 42, src/lib/modules/_content.scss */
article.post header h2, article.page header h2 {
  margin-bottom: 0.75em;
}
/* line 47, src/lib/modules/_content.scss */
article.post header section.assets a, article.page header section.assets a {
  border: none;
}
/* line 51, src/lib/modules/_content.scss */
article.post header section.assets figure, article.page header section.assets figure {
  display: block;
  margin: 0 auto;
}
/* line 55, src/lib/modules/_content.scss */
article.post header section.assets figure figcaption, article.page header section.assets figure figcaption {
  color: #cccdcb;
}
/* line 60, src/lib/modules/_content.scss */
article.post header section.assets figure + figure, article.page header section.assets figure + figure {
  margin-top: 1.5em;
}
/* line 67, src/lib/modules/_content.scss */
article.post footer, article.page footer {
  margin-top: 1.5em;
}
/* line 70, src/lib/modules/_content.scss */
article.post footer p.meta, article.page footer p.meta {
  color: #cccdcb;
}
/* line 74, src/lib/modules/_content.scss */
article.post footer nav, article.page footer nav {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
article.post footer nav:after, article.page footer nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 79, src/lib/modules/_content.scss */
article.post footer nav article, article.page footer nav article {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
/* line 82, src/lib/modules/_content.scss */
article.post footer nav article h3, article.page footer nav article h3 {
  font-size: 1em;
  line-height: 1.5em;
  color: #cccdcb;
  font-weight: 600;
}
/* line 89, src/lib/modules/_content.scss */
article.post footer nav article h3, article.post footer nav article p, article.page footer nav article h3, article.page footer nav article p {
  display: block;
}
/* line 93, src/lib/modules/_content.scss */
article.post footer nav article.previous, article.page footer nav article.previous {
  float: right;
  margin-right: 0;
}
/* line 96, src/lib/modules/_content.scss */
article.post footer nav article.previous h3, article.post footer nav article.previous p, article.page footer nav article.previous h3, article.page footer nav article.previous p {
  text-align: right;
}

/*
  Forma
    file: css/lib/modules/_post-listing.scss
*/
/* line 6, src/lib/modules/_post-listing.scss */
article.post-listing {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
article.post-listing:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 9, src/lib/modules/_post-listing.scss */
article.post-listing + article.post {
  margin-top: 1.5em;
}
/* line 13, src/lib/modules/_post-listing.scss */
article.post-listing a {
  color: #a6a7a5;
}
/* line 17, src/lib/modules/_post-listing.scss */
article.post-listing span {
  color: #cccdcb;
  float: right;
}

/*
  Forma
    file: css/lib/pages/_photos.scss
*/
/* line 7, src/lib/modules/_photos.scss */
.photos figure {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.photos figure:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, src/lib/modules/_photos.scss */
.photos figure a {
  border: none;
}
/* line 14, src/lib/modules/_photos.scss */
.photos figure p.meta {
  color: #cccdcb;
}
/* line 19, src/lib/modules/_photos.scss */
.photos figure + figure:before {
  content: "———";
  color: #f2f2ee;
  display: block;
  font-weight: 500;
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;
  letter-spacing: -2px;
}

/* line 1, src/lib/pages/_places.scss */
.places {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.places:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, src/lib/pages/_places.scss */
.places .place {
  width: 48.57143%;
  float: left;
}
/* line 66, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.places .place:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
.places .place:nth-child(2n + 2) {
  margin-left: 51.42857%;
  margin-right: -100%;
  clear: none;
}
/* line 7, src/lib/pages/_places.scss */
.places .place:nth-child(n + 3) {
  margin-top: 3em;
}
/* line 11, src/lib/pages/_places.scss */
.places .place ul li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
/* line 16, src/lib/pages/_places.scss */
.places .place ul li a {
  border: none;
  color: #a6a7a5;
}
/* line 20, src/lib/pages/_places.scss */
.places .place ul li a:hover {
  color: #999a98;
}

/*
  = Appendix
    I. Universal
    II. Header
    III. Main
    IV. Footer
*/
/*
  I. Universal
*/
/* line 22, src/application.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: calculateRem(16px);
  background: #fefefe;
  color: #333333;
  font-family: "karla", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2em;
}

/* line 33, src/application.scss */
a {
  border-bottom-width: 0.125em;
  border-bottom-style: solid;
  padding-bottom: -0.125em;
  border-color: #f2f2ee;
  color: #333333;
  text-decoration: none;
}
/* line 40, src/application.scss */
a:hover {
  border-color: #e7e7e0;
}

/* line 45, src/application.scss */
blockquote {
  border-left: 0.375em solid #f2f2ee;
  padding-left: 1.125em;
  color: #a6a7a5;
}

/* line 51, src/application.scss */
em {
  font-style: italic;
}

/* line 55, src/application.scss */
h1 {
  font-weight: 700;
}
/* line 58, src/application.scss */
h1 a {
  border: none;
}

/* line 63, src/application.scss */
h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* line 67, src/application.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 71, src/application.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 75, src/application.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 79, src/application.scss */
h6 {
  color: #a6a7a5;
}

/* line 83, src/application.scss */
img {
  max-width: 100%;
}

/* line 87, src/application.scss */
ol, ul {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
/* line 91, src/application.scss */
ol li, ul li {
  padding-left: 0.75em;
  margin-left: 3em;
}

/* line 97, src/application.scss */
ol li {
  list-style-type: decimal;
}

/* line 101, src/application.scss */
p + p {
  margin-top: 1.5em;
}

/* line 105, src/application.scss */
strong {
  font-weight: 700;
}

/* line 109, src/application.scss */
ul li {
  list-style-type: disc;
}

/*
  II. Header
*/
/* line 118, src/application.scss */
header#header {
  margin-bottom: 4.5em;
  margin-top: 4.5em;
}
/* line 122, src/application.scss */
header#header section {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
header#header section:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 126, src/application.scss */
header#header nav {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 1.4375em;
  border-color: #f2f2ee;
  color: #cccdcb;
  margin-top: 1.5em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
header#header nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 134, src/application.scss */
header#header nav a {
  color: #a6a7a5;
  border: none;
}
/* line 138, src/application.scss */
header#header nav a:hover {
  color: #999a98;
}
/* line 144, src/application.scss */
header#header nav ul li {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}
/* line 149, src/application.scss */
header#header nav ul li + li {
  padding-left: 0.75em;
}

/*
  III. Main
*/
/* line 164, src/application.scss */
main .archive header {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
main .archive header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 167, src/application.scss */
main .archive header h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
}
/* line 175, src/application.scss */
main .archive.border:before {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
  content: "———";
  color: #f2f2ee;
  display: block;
  font-weight: 500;
  padding: 3em 0;
  letter-spacing: -2px;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
main .archive.border:before:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 187, src/application.scss */
main .archive.no-border h3 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 206, src/application.scss */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/*
  IV. Footer
*/
/* line 212, src/application.scss */
footer#footer {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 0 6em;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
  border-color: #f2f2ee;
  color: #cccdcb;
  margin-bottom: 3em;
  margin-top: 6em;
}
/* line 12, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
footer#footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 221, src/application.scss */
footer#footer a {
  color: #a6a7a5;
}
/* line 224, src/application.scss */
footer#footer a:hover {
  color: #999a98;
}
