<article class="photo">
  {% for asset in post.assets %}
    <figure>
      <a href="{{ asset.url }}">
        <img class="unveil" src="/img/placeholder.png" data-src="{{ asset.url }}">
        <noscript>
          <img src="{{ asset.url }}">
        </noscript>
      </a>
    </figure>
  {% endfor %}
  {{ post.body }}
  <footer>
    <span><a href="{{ post.url }}">{{ post.date | date: '%B %d, %Y' }}</a>{% if post.meta.place %} &ndash; {{ post.meta.place }}{% endif %}</span>
  </footer>
</article>
