<article class="post">
  <header>
    {% for asset in post.assets limit:1 %}
      <figure>
        <a href="{{ post.url }}"><img src="{{ asset.url }}"></a>
      </figure>
    {% endfor %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="meta">
      <span class="location">{{ post.meta['place_name'] }}</span>
      <span class="date"><time datetime="{{ current.date | date: '%F %T' }}">{{ current.date | date: '%B %d, %Y' }}</time></span>
    </p>
  </header>
  <section>
    {{ post.body }}
  </section>
  <footer>
    <!-- <p class="date"><time datetime="{{ current.date | date: '%F %T' }}">{{ current.date | date: '%B %d, %Y' }}</time></p> -->
    <nav class="pagination">
      {% if post.next %}
        <div class="next">
          <h4>Newer</h4>
          <p><a href="{{ post.next.url }}">{{ post.next.title }}</a></p>
        </div>
      {% endif %}

      {% if post.previous %}
        <div class="previous">
          <h4>Older</h4>
          <p><a href="{{ post.previous.url }}">{{ post.previous.title }}</a></p>
        </div>
      {% endif %}
    </nav>
  </footer>
</article>
